*.class
/EquationService/nbproject/private/
/EquationWS/nbproject/private/
/EquationWS/build/
/TestEquationService/nbproject/private/
/TestEquationService/build/
/TestEquationService/dist/
/TicTacToe/nbproject/private/
/TicTacToe/build/
/QuizServer/nbproject/private/
/QuizServer/build/
/JMSNio/nbproject/private/
/JMSNio/dist/
/JMSNio/build/
/QuizTest/nbproject/private/
/QuizTest/dist/
/QuizTest/build/